@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #1B98F5;
}
.Container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.form {
  width: 50%;
}
.error {
  color: red;
}
.form h1 {
  text-align: center;
  color: #fff;
}
.form-Control {
  margin: 5px;
}
input {
  width: 100%;
  border-radius: 0;
  border: none;
  padding: 10px 15px;
}
button {
  width: 100%;
  border-radius: 0px;
}
.submit-button {
  margin: 10px;
  border-radius: 0px;
}
.submit-button > button {
  color: #fff;
  background-color: #383CC1;
}
.submit-button > button:hover {
  color: #fff;
}